.card {
    border: 2px solid #000000;
    background: #182331;
    padding: 20px;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link_card {
    border: 2px solid #000000;
    background: #263238;
    padding: 20px;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub_img_card {
    border: 2px solid #000000;
    background: #13191b;
    padding: 20px;
    margin-left: 10;
    margin-right: 10;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main_card {
    border: 2px solid #000000;
    background: #13191b;
    padding: 20px;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_card {
    border: 2px solid #000000;
    background: #0d1113;
    padding: 20px;
    margin-left: 10;
    margin-right: 10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.standard_text_style {
    font-family: Arial, Helvetica, sans-serif;
    color: #cfd8dc;
}

.nav_style {
    font-family: Arial, Helvetica, sans-serif;
    color: #cfd8dc;
    font-size: 20px;
}
